{% extends 'common/layout.twig' %}

{# DIAGNOSTICS PAGE #}
{% block component %} 
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
    <a href={{ path('app_dashboard') }} class="border border-neutral-500 font-bold px-1 text-white">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Diagnostics</span>
</div>

{# DIAGNOSTICS CARDS #}
<div class="flex-center mx-2 mt-2">

    {# HOST SYSTEM DIAGNOSTICS CARD #}
    <div class="shadow-lg text-white mb-3 border border-neutral-500 card-color">
        <div class="px-4 py-3 border-b border-neutral-500">System diagnostics</div>

        {# NOT-INSTALLED-REQUIREMENTS CHECK #}
        <div class="px-4 py-2">
            {% if notInstalledRequirements|length == 0 %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        All requirements is installed
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        Not found requirements: {{ notInstalledRequirements|join(', ') }}
                    </span>
                </span>
            {% endif %}
        </div>

        {# DISK-SPACE CHECK #}
        <div class="px-4 py-2">
            {% if driveSpace < 90 %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        Disk space
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        main disk storage is full, please delete some unnecessary data or increase disk space
                    </span>
                </span>
            {% endif %}
        </div>
 
        {# CPU-OVERLOAD CHECK #}
        <div class="px-4 py-2">
            {% if cpuUsage > 98.00 %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        CPU is overloaded, please check cpu usage
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        CPU is at normal values
                    </span>
                </span>
            {% endif %}
        </div>

        {# RAM-OVERLOAD CHECK #}
        <div class="px-4 py-2">
            {% if cpuUsage > 98.00 %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        RAM Memory is overloaded, please check usage
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        RAM Memory is available
                    </span>
                </span>
            {% endif %}
        </div>
    </div>

    {# SELF WEB DIAGNOSTICS CARD #}
    <div class="shadow-lg text-white mb-3 border border-neutral-500 card-color">
        <div class="px-4 py-3 border-b border-neutral-500">Website diagnostics</div>

        {# SSL-RUNNING CHECK #}
        <div class="px-4 py-2">
            {% if isSSL %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        page is secured with https
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        session is running on http [non secure connction] please contact web admin for fix it
                    </span>
                </span>
            {% endif %}
        </div>

        {# DEV-MODE CHECK #}
        <div class="px-4 py-2">
            {% if isDevMode %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        developer mode is enabled, please set APP_ENV=prod in .env config file
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        developer mode policy are OK
                    </span>
                </span>
            {% endif %}
        </div>

        {# WEBSERVER USER PERMISSIONS CHECK #}
        <div class="px-4 py-2">
            {% if isWebUserSudo %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        site permissions is root
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        Permissions error: please add "{{ webUsername }} ALL=NOPASSWD: ALL" to /etc/sudoers
                    </span>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
