# env files
/.env.prod

# bundles assets
/public/bundles/
config/reference.php

# cache files
/var

# composer files
/vendor/
/composer.lock

# phpunit files
.phpunit.result.cache

# php codesniffer cache
/.phpcs-cache

# npm files
/node_modules/
/public/assets/
/package-lock.json

# custom suite configs
/feature-flags.json
/auth-exclusions.json
/terminal-aliases.json
/blocked-usernames.json
/protected-columns.json
/services-monitoring.json
/package-requirements.json
/terminal-blocked-commands.json
/escape-request-exclusions.json

# docker services files
.docker/services
