# env files
/.env.local
/.env.prod
/.env.local.php
/.env.*.local

# config files
/config/secrets/prod/prod.decrypt.private.php

# bundles assets files
/public/bundles/

# cache files
/var

# composer files
/composer.lock
/vendor/

# phpunit files
.phpunit.result.cache

# php codesniffer cache
/.phpcs-cache

# npm files
/public/build/
/node_modules/
/npm-debug.log
/yarn-error.log
/package-lock.json

# custom suite configs
/blocked-usernames.json
/exception-files.json
/package-requirements.json
/services.json

# docker services files
_docker/services
