parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - config
        - src
        - tests
    excludePaths:
        - src/Command/Monitoring/MonitoringProcessCommand.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
