parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - config
        - src
        - tests
    excludePaths:
        - src/Command/Process/MonitoringProcessCommand.php
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
