{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - DATABASE QUERY CONSOLE #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb p-4">
    <a href={{ path('app_manager_database') }} class="border border-neutral-700 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to database browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Query console</span>
</div>

{# DATABASE CONSOLE #}
<div class="bg-neutral-885 p-2 shadow-md card-color border border-neutral-700 mb-2 database-console rounded">
    <h2 class="text-2xl text-center text-white font-semibold">Database console</h2>

    {# OUTPUT BOX #}
    {% if output is not null %}
        <div class="bg-neutral-885 ml-2 mr-2 mt-1 border border-neutral-700 shadow-md animate-popin">
            <p class="text-lg font-semibold border-b border-neutral-700 p-1">Database output</p>
            <pre id="query-output" class="text-sm whitespace-pre-wrap break-words p-2">{{ output|raw }}</pre>
        </div>
    {% endif %}

    {# QUERY FORM #}
    {% include "component/database-browser/form/query-form.twig" %}
</div><br>
{% endblock %}
