{% extends 'common/layout.twig' %}

{# DATABASE BROWSER COMPONENT - DATABASE LIST #}
{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb p-4">
    <a href={{ path('app_dashboard') }} class="border border-gray-600 font-bold px-1 text-white">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Databases</span>
</div>

{# DATABASE LIST #}
<div class="database-browser md:p-4">
    <div class="shadow-md max-w-4xl mx-auto">
        <div class="overflow-x-auto">
            <table class="min-w-full bg-neutral-900 text-white border border-neutral-700 card-color">
                <thead>
                    <tr>
                        <th class="px-4 py-2 border-b border-neutral-700 text-left">Database</th>
                        <th class="px-4 py-2 border-b border-neutral-700 text-right">Tables</th>
                        <th class="px-4 py-2 border-b border-neutral-700 text-right">Size (MB)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for database in databases %}
                        <tr class="hover:bg-neutral-800">
                            <td class="px-4 py-2 border-b border-neutral-700 text-left">
                                <a href="#" class="database-link">{{ database.name }}</a>
                            </td>
                            <td class="px-4 py-2 border-b border-neutral-700 text-right">
                                {{ database.table_count }}
                            </td>
                            <td class="px-4 py-2 border-b border-neutral-700 text-right">
                                {{ database.size_mb|number_format(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
