<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Admin suite linux servers and app managment dashboard" name="description">
    <link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {# REGISTER CSS ASSETS #}
    {{ encore_entry_link_tags('index-css') }}
    <title>Admin suite</title>
</head>
<body>
    {# MAIN COMPONENT WRAPPER #}
    {% block body %}{% endblock %}
</body>
</html>
