<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Admin suite linux servers and app managment dashboard" name="description">
    <link rel="icon" href={{ asset('assets/images/favicon.png') }} type="image/x-icon"/>
    {# INCLUDE PWA CONFIG MANIFEST #}
    {% if pwa_app_support == 'true' %}
        <link rel="manifest" href={{ asset('pwa-config.json') }}>
    {% endif %}
    {# REGISTER CSS ASSETS #}
    {{ encore_entry_link_tags('index-css') }}
    <title>Admin suite</title>
</head>
<body>
    {# MAIN COMPONENT WRAPPER #}
    {% block body %}{% endblock %}
    
    {# SCREEN TOO SMALL ERROR MESSAGE #}
    <div class="fixed inset-0 flex items-center justify-center background-dark text-white text-lg font-bold hidden xs:flex p-1">
        <center>Your screen width is too small! Please, enlarge your window.</center>
    </div>
</body>
</html>
