{% extends 'common/base.twig' %}

{# MAIN ADMIN COMPONENT LAYOUT #}
{% block body %}
    {# LOADER COMPONENT #}
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    
    {# MAIN NAVBAR #}
    {% include 'element/navigation.twig' %}

    {# SIDEBAR #}
    {% include "element/sidebar.twig" %}
    
    {# MAIN COMPONENT INIT #}
    <main id="main-content" class="md:active">
        {% block component %}{% endblock %}
    </main>

    {# SIDEBAR TOGGLE SCRIPT #}
    {{ encore_entry_script_tags('sidebar-element-js') }}

    {# DEFAUTL TOGGLE SIDEBAR ON NON MOBILE DEVICES #}
    {% if app.request.attributes.get('_route') == 'app_dashboard' %}
        <script>
            const counter = document.getElementById('counter');
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            if (window.innerWidth > 400) {
                sidebar.classList.add('active');
                mainContent.classList.add('active');
            }
        </script>
    {% endif %}

    {# <======= REGISTER SCRIPTS =======> #}
    {{ encore_entry_script_tags('loading-component-js') }}
    {{ encore_entry_script_tags('notification-subscriberr-js') }}
{% endblock %}
 