# /etc/systemd/system/admin-suite-monitoring.service (monitoring process service config example)
[Unit]
Description=Admin suite monitoring process

[Service]
Type=simple
ExecStart=php /services/website/admin-suite/bin/console app:monitoring:process
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
