<div id="role-update-popup-overlay" class="fixed inset-0 bg-black bg-opacity-70 flex justify-center items-center hidden z-50">
	<div class="backdrop-blur-md bg-white/5 rounded p-6 border border-neutral-800 animate-popin">
		<p id="role-update-title" class="mb-4 text-white">Update role:
			<span id="role-update-username"></span>
		</p>
		<form id="role-update-form" method="POST" action={{ path('app_manager_users_role_update', {'page': currentPage} ) }}>
			<input type="hidden" name="id" id="role-update-user-id">
			<input type="hidden" name="current-role" id="current-role">
			<div class="mb-4">
				<label for="new-role" class="block text-white mb-2">New Role:</label>
				<input type="text" name="role" id="new-role" class="w-full px-4 py-2 border border-neutral-700 rounded bg-white/10 text-white">
			</div>
			<div id="role-error-message" class="text-red-500 mb-4 hidden">The new role must be different from the current role.</div>
			<div class="flex justify-end">
				<button type="button" id="role-update-cancel-button" class="bg-gray-700 text-white px-4 py-2 rounded mr-2 hover:bg-gray-600">Close</button>
				<button type="submit" id="role-update-submit-button" class="bg-blue-700 text-white px-4 py-2 rounded hover:bg-blue-600" disabled>Update</button>
			</div>
		</form>
	</div>
</div>
