{% extends 'common/base.twig' %}

{% block body %}
<div class="flex flex-col justify-center items-center h-screen bg-gradient-to-b from-zinc-900/100 to-zinc-950/100 text-gray-200">
    <div class="text-center max-w-lg animate-fade-in">
        <div class="text-yellow-400 text-6xl mb-4">
            <i class="fas fa-tools"></i>
        </div>
        <h2 class="text-3xl font-bold mb-2">Service Unavailable</h2>
        <p class="text-lg mb-6">We're currently performing scheduled maintenance. Please try again later.</p>
    </div>
</div>
{% endblock %}
