<div class="bg-neutral-800 p-2 border-t border-gray-600 flex items-center message-input">
    <input type="text" class="flex-grow w-2/5 px-2 py-1 bg-neutral-700 text-white border border-gray-600 focus:outline-none focus:border-blue-500" maxlength="2000" placeholder="Type your message...">
    <button class="ml-2 w-1/5 bg-green-700 hover:bg-green-600 text-white font-bold py-1 px-2 shadow">
        Submit
    </button>
</div>
