{% extends 'common/layout.twig' %}

{% block component %}
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
    <a href={{ path('app_manager_logs') }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to log browser">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>

    <span class="mr-1 text-white">Metrics dashboard</span>
</div>

<div>
    <p>Metrics dashboard</p>
</div>
{% endblock %}
