<div id="editPopup" class="fixed inset-0 bg-black bg-opacity-80 flex items-start justify-center pt-[10%] sm:items-center sm:pt-0 hidden">
    <div class="backdrop-blur-md bg-white/5 rounded p-6 border border-neutral-800 w-full max-w-xl animate-popin">
        <h2 class="text-lg font-bold mb-4 text-white">Edit Todo</h2>
        <textarea id="editTodoInput" class="bg-white/5 text-white w-full p-3 border border-neutral-700 rounded focus:outline-none focus:ring-2 focus:ring-green-500 resize-none" placeholder="New todo text" maxlength="2048" rows="6"></textarea>
        <div class="flex justify-end mt-4 space-x-2">
            <button id="cancelEditButton" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-500">Cancel</button>
            <button id="confirmEditButton" class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-500">Save</button>
        </div>
    </div>
</div>
