{% extends 'common/layout.twig' %}

{# ADMIN ACCOUNTS REGISTER COMPONENT #}
{% block component %} 
    <div class="bg-neutral-900 border-b border-neutral-700 sub-navigation">
        <a href="/manager/users" class="border border-neutral-500 font-bold px-1">Back</a>
        <span class="mr-1">Register user</span>
    </div>

    <p>register component</p>
{% endblock %}
