{% extends 'common/layout.twig' %}

{# INTERNAL CHAT COMPONENT #}
{% block component %}
{# SUB NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation text-white breadcrumb">
    <a href={{ path('app_dashboard') }} class="border border-gray-600 font-bold px-1">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1">Internal chat</span>
</div>

<p>chat</p>
{% endblock %}
