<div class="w-64 overflow-y-auto bg-neutral-800 border-r border-l border-gray-600 user-list">
    <div class="pl-2 pt-2 pb-1 pr-2 text-lg font-bold border-b border-gray-600">Online Users</div>
    <ul>

        {# USER ITEM #}
        <li class="p-1 pl-2">
            <div class="flex items-center">
                <span class="h-3 w-3 bg-green-500 rounded-full mr-2"></span>
                <span>User1</span>
            </div>
        </li>

        {# USER ITEM #}
        <li class="p-1 pl-2">
            <div class="flex items-center">
                <span class="h-3 w-3 bg-green-500 rounded-full mr-2"></span>
                <span>User1</span>
            </div>
        </li>
    </ul> 

</div>
