{% extends 'common/base.twig' %}

{% block body %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Internal Server Error
        <br><br>
        The server encountered an unexpected condition that prevented it from fulfilling the request
    </p>
</div>
{% endblock %}
