{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Page is unavailable
        <br><br>
        The service is temporarily unavailable due to maintenance
    </p>
</div>
{% endblock %}
