{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Bad request error
        <br><br>
        Please try again later or contact the administrator
    </p>
</div>
{% endblock %}
