{% extends 'common/base.html.twig' %}

{% block body %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Page not found
        <br><br>
        This page was not found
    </p>
</div>
{% endblock %}
