{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Too Many Requests
        <br><br>
        Please try to wait and try again later
    </p>
</div>
{% endblock %}
