{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Page not found
        <br><br>
        This page was not found
    </p>
</div>
{% endblock %}
