{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Upgrade Required
        <br><br>
        This website is not available for non https connections
    </p>
</div>
{% endblock %}
