{% extends 'common/base.twig' %}

{% block body %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Unknown error
        <br><br>
        Please contact the service administrator
    </p>
</div>
{% endblock %}
