{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Forbidden
        <br><br>
        You do not have permission to access this page
    </p>
</div>
{% endblock %}
