{% extends 'common/base.twig' %}

{% block body %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Banned
        <br><br>
        {% if reason == 'no-reason' %}
            Your account is banned
        {% else %}
            Your account is banned for: {{ reason|e }}
        {% endif %}
        <br><br>
        Requests for unban should be directed to 
        <span class="text-yellow-300">
            <a href="mailto:{{ admin_contact|e }}">{{ admin_contact|e }}</a>
        </span>
    </p>
</div>
{% endblock %}
