{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="error-component">
    <p class="error-page-msg">
        Unknown error
        <br><br>
        Please contact the service administrator
    </p>
</div>
{% endblock %}
