{% extends 'common/base.html.twig' %}

{% block component %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Page is unavailable
        <br><br>
        The service is temporarily unavailable due to maintenance
    </p>
</div>
{% endblock %}
