{% extends 'common/base.twig' %}

{% block body %} 
<div class="flex justify-center items-center h-screen">
    <p class="text-center text-3xl font-bold ml-4 mr-4 text-gray-200">
        Forbidden
        <br><br>
        You do not have permission to access this page
    </p>
</div>
{% endblock %}
