/* admin-suite: global app style */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-color: #161616;
	scroll-behavior: smooth;
}

main {
	margin-top: 25px; 
}

input {
	outline: none;
}

.bg-neutral-850 {
	background-color: rgb(30, 30, 30) !important;
}

.link {
	color: rgb(49, 114, 255);
}

.link:hover {
	color: rgb(24, 132, 255);
	text-decoration: underline;
}

.card-color {
	background-color: #1d1d1d;
}

#main-content {
	position: relative;
	margin-left: 0; 
	transition: margin-left 0.2s ease; 
	display: flex;
	flex-direction: column;
	height: calc(100vh - 25px);
}

#main-content.active {
	margin-left: 180px; 
}

.component {
	flex-grow: 1;
	overflow-y: auto; 
}

/* custom paddings and margins */
.ml-05 {
	margin-left: 1.8px !important;
}

.mt-02 {
	margin-top: 3px !important;
}

.mrc-2 {
	margin-right: 6.8px !important;
}

.mrc-3 {
	margin-right: 10px !important;
}

/* apply on mobile devices */
@media screen and (max-width: 400px) { 
	main {
		margin-top: 30px; 
	}
	#main-content {
		height: calc(100vh - 30px);
	}
	#main-content.active {
		display: none;
	}
}
