/* loading animation component */
:root {
	--loader-size: 150px;
	--loader-border: 12px;
	--loader-color-main: #3FDFDF;
	--loader-color-bg: rgba(255, 255, 255, 0.15);
}

#loader-wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	z-index: 9999;
	align-items: center;
	justify-content: center;
	background-color: #161616;
}

#loader {
	border-radius: 50%;
	position: relative;
	width: var(--loader-size);
	height: var(--loader-size);
	animation: spin 1.4s linear infinite;
	box-shadow: 0 0 10px rgba(63, 223, 223, 0.5);
	border: var(--loader-border) solid var(--loader-color-bg);
	border-top: var(--loader-border) solid var(--loader-color-main);
}

#loader::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.6;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: calc(var(--loader-size) * 0.7);
	height: calc(var(--loader-size) * 0.7);
	animation: pulse 2.5s ease-in-out infinite;
	background: radial-gradient(circle at center, var(--loader-color-main), transparent);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.6;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.2);
		opacity: 0.3;
	}
}
