/* admin-suite: main app styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #161616;
}

main {
	margin-top: 30px; 
}

.mr-1px {
	margin-right: 1px;
}

.background-dark {
    background: rgb(20,20,20) !important;
}

#main-content {
	position: relative;
	margin-left: 0; 
	transition: margin-left 0.3s ease; 
}

#main-content.active {
	margin-left: 200px; 
}

/* main navigation */
.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #161616;
	height: 30px;
}

.nav-bar .about-link {
	font-size: 12px !important;
	border: 1px solid white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-radius: 50px;
	color: rgb(29, 29, 29);
	background-color: white;
}
.nav-bar  .about-link:hover {
	background-color: cyan;
}

/* sidebar element */
#sidebar {
	position: fixed;
	top: 30px; 
	height: calc(100% - 30px); 
	overflow-y: auto; 
	background-color: #161616;
	z-index: 999; 
	width: 200px;
	transition: transform 0.3s ease;
	transform: translateX(-100%);
}

#sidebar .profile-image {
    width: 70px;
    height: 70px;
    margin-bottom: 3px !important;
    overflow: hidden;
}

#sidebar.active {
	transform: translateX(0); 
}

#sidebar .role {
	margin-top: -6px;
}

#sidebar .menu-link:hover {
	color: #79d5ec;
	background: #292e33;
}

/* sub navigation */
.sub-navigation {
	padding: 5px;
    display: flex;
    justify-content: flex-start;
}

.sub-navigation > * {
    margin-right: 0px;
}

.sub-navigation span {
    margin-left: auto;
	margin-right: 5px !important;
}

.sub-navigation a:hover {
    color: #24d3ff;
    border: 1px solid #24d3ff;
}

/* users manager component */
.users-manager .delete-button {
	font-weight: 400;
	color: rgb(255, 70, 70);
	font-size: 18px;
}

.users-manager .delete-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .ban-button, .unban-button {
	font-weight: 400;
	color: rgb(255, 255, 31);
	font-size: 18px;
}

.users-manager .ban-button:hover, .unban-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .highlighter {
	color: rgb(255, 255, 7) !important;
}

.users-manager .profile-link:hover {
	color: rgb(255, 255, 7) !important;
	text-decoration: underline;
}

.users-manager .role-update-button:hover {
	color: rgb(255, 255, 7) !important;
	text-decoration: underline;
}

/* account settings component */
.account-settings .profile-image {
	width: 60px;
	height: 60px;
}

.account-settings .image-preview {
	display: none;
	justify-content: center;
}

.account-settings .image-preview img {
	max-width: 100%;
	max-height: 200px;
}

/* mobile devices style */
@media screen and (max-width: 400px) { 
	.phone-none {
		display: none;
	}
	#sidebar {
		width: 100%;
        border-left: 1px solid rgb(75 85 99);
        border-bottom: 1px solid rgb(75 85 99);
	}
}

/* only non phone devices style */
@media screen and (min-width: 400px) { 
	.phone-only {
		display: none;
	}
}
