/* main app style */
/* top navigation */
.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #161616;
	height: 25px;
}

.nav-bar #menu-toggle {
	font-size: 22px !important;
	margin-bottom: 3px;
}

.nav-bar .logout-link {
	font-size: 22px !important;
	margin-bottom: 3px;
}

.nav-bar .menu-text {
	margin-right: 5px;
}

.breadcrumb {
	font-size: 18px;
}

/* sidebar element */
#sidebar {
	position: fixed;
	top: 25px; 
	height: calc(100% - 25px); 
	overflow-y: auto; 
	background-color: #161616;
	z-index: 999; 
	width: 180px;
	transition: transform 0.2s ease;
	transform: translateX(-100%);
}

#sidebar ul {
	font-size: 15px !important;
}

#sidebar .profile-image {
	border-radius: 5px;
    width: 70px;
    height: 70px;
    margin-bottom: 3px !important;
    overflow: hidden;
}

#sidebar.active {
	transform: translateX(0); 
}

#sidebar .role {
	margin-top: -6px;
}

#sidebar a:hover {
	background-color: rgba(87, 87, 87, 0.397);
	color: #79d5ec;
}

/* sub navigation */
.sub-navigation {
	padding: 3px;
    display: flex;
    justify-content: flex-start;
}

.sub-navigation > * {
    margin-right: 0px;
}

.sub-navigation span {
    margin-left: auto;
	margin-right: 3px !important;
}

.sub-navigation a:hover {
    color: #24d3ff;
    border: 1px solid #24d3ff;
}

/* users-manager component */
.users-manager .delete-button {
	font-weight: 400;
	color: rgb(255, 70, 70);
	font-size: 15px;
}

.users-manager .delete-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .ban-button, .unban-button {
	font-weight: 400;
	color: rgb(255, 255, 31);
	font-size: 15px;
}

.users-manager .ban-button:hover, .unban-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .highlighter {
	color: rgb(255, 255, 7) !important;
}

.users-manager .profile-link:hover {
	color: rgb(255, 255, 7) !important;
}

.users-manager .role-update-button:hover {
	color: rgb(255, 255, 7) !important;
}

/* account-settings component */
.account-settings .profile-image {
	width: 60px;
	height: 60px;
}

.account-settings .image-preview {
	display: none;
	justify-content: center;
}

.account-settings .image-preview img {
	max-width: 100%;
	max-height: 200px;
}

/* dashboard component */
.dashbard-component .progress-bar {
	border-radius: 10px;
	border: 1px solid rgb(161, 161, 161);
    width: 100%;
    height: 15px;
    background-color: #272727;
    margin-bottom: 10px;
}

.dashbard-component .progress {
    height: 100%;
    background-color: rgb(18, 163, 163);
    width: 0%;
    transition: width 0.2s ease;
}

.dashbard-component .card-text {
	font-size: 14px !important;
}

.dashbard-component .card-rederer {
	color: rgb(255, 255, 255) !important;
}

.dashbard-component .card-rederer:hover {
	color: rgb(52, 116, 255) !important;
	text-decoration: underline;
}

/* todo manager component */
.todo-manager {
	height: 100%;
	background-color: rgb(23 23 23);;
}

/* database browser component */
.database-browser .database-link {
	color: rgb(96, 165, 250);
	font-weight: bold;
}

.database-browser .database-link:hover {
	color: rgb(147, 185, 231);
}

.database-console {
	margin: 10px;
}

.add-row-input {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	overflow-y: auto; 
}

/** terminal component */
.terminal-component {
    background-color: rgb(12, 12, 12);
    padding: 3px;
    font-family: monospace !important;
    font-size: 16px !important;
    position: relative;
}

.terminal-component #terminal {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 5px;
}

.terminal-component #output-container {
    color: white;
    flex-grow: 1;
    padding-top: 0px !important;
}

.terminal-component #command-container {
    display: flex;
    align-items: center;
    padding-top: 0px !important;
    position: sticky;
    bottom: 0;
    background-color: rgb(12, 12, 12);
}

.terminal-component .command-history-prompt {
    margin-top: 1.3px;
}

.terminal-component #prompt {
    display: inline-block;
}

.terminal-component #prompt-line {
    white-space: nowrap;
    color: #6262ff;
}

.terminal-component .last-command {
    margin-left: 6px;
}

.terminal-component #command {
    width: 100%;
    background-color: transparent;
    border: none !important;
    outline: none !important;
    margin-left: 5px;
    color: white;
}

/* apply on mobile devices */
@media screen and (max-width: 400px) { 
	.phone-none {
		display: none;
	}
	.nav-bar {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
		background-color: #161616;
		height: 30px;
	}
	#sidebar {
		top: 30px;
		width: 100%;
        border-right: none;
	}
	#sidebar ul {
		font-size: 20px !important;
	}
	#sidebar ul li span {
		padding-bottom: 3px !important;
		padding-top: 3px !important;
	}
	.nav-bar #menu-toggle {
		font-size: 25px !important;
		margin-bottom: 0px;
	}
	.nav-bar .logout-link {
		font-size: 25px !important;
		margin-bottom: 0px;
	}
	.database-console {
		margin: 0px;
	}
	.add-row-input {
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
		flex-grow: 1;
		overflow-y: auto; 
	}
}

/* apply only on non mobile devices */ 
@media screen and (min-width: 400px) { 
	.non-phone-only {
		display: none;
	}
}

/* disable mini mode on small devices */
@media screen and (max-width: 200px) { 
	.mini-disabled {
		display: none;
	}
}
