/* main app style */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color: #121214;
}

main {
	margin-top: 38px;
}

#main-content {
	display: flex;
	margin-left: 0; 
	position: relative;
	flex-direction: column;
	height: calc(100vh - 38px);
	transition: margin-left 0.2s ease; 
}

#main-content.active {
	margin-left: 180px; 
}

.component {
	flex-grow: 1;
	overflow-y: auto; 
}

/* common styles */
.bg-neutral-810 {
	background-color: #1e1f20 !important;
}

.bg-neutral-810:hover {
	background-color: #2a2b2c !important;
}

.bg-neutral-830 {
	background-color: #1d1e1f !important;
}

.bg-neutral-890 {
	background-color: #101212 !important;
}

.bg-neutral-910 {
	background-color: #101212;
}

.border-neutral-850 {
	border-color: #3a3e3e !important;
}

.card-color {
	background-color: #16171a;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.015), rgba(0, 0, 0, 0.02));
	background-blend-mode: overlay;
}

.background-dark {
    background: #141416 !important;
}

.link {
	color: rgb(49, 114, 255);
}

.link:hover {
	color: rgb(24, 132, 255);
	text-decoration: underline;
}

/* auth component style */
.auth-component::before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	content: '';
	position: fixed;
	filter: blur(2px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../images/background.jpg');
}

.auth-form-input {
	width: 100%;
	margin: 6px 0;
	font-size: 16px;
	color: #f0f0f0;
	padding: 10px 14px;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
	backdrop-filter: blur(6px);
	font-family: 'Inter', sans-serif;
	background: rgba(26, 26, 29, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.auth-form-input:focus {
	border-color: rgb(24, 132, 255);
}

.auth-form-input::placeholder {
	color: #cccccc;
}

.auth-component .rememberme-checkbox {
	width: 20px;
	height: 20px;
	display: flex;
	cursor: pointer;
	appearance: none;
	align-items: center;
	border-radius: 0.25rem;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.4);
	transition: background-color 0.2s ease, border-color 0.2s ease;
}

.auth-component .rememberme-checkbox:checked {
	background-color: rgb(24, 132, 255);
	border-color: rgb(24, 132, 255);
}

.auth-component .rememberme-checkbox:checked::after {
	content: '✓';
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.auth-form-input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(26, 26, 29, 0.7) inset !important;
}

.auth-form-input:-webkit-autofill:focus {
    border-color: rgb(24, 132, 255) !important;
}

.auth-form-input:-moz-autofill {
    color: white !important;
    box-shadow: 0 0 0 1000px rgba(26, 26, 29, 0.7) inset !important;
}

.auth-component li {
	color: white;
	margin-left: 1px;
}

/* sidebar element */
#sidebar {
	z-index: 999; 
	width: 180px;
	position: fixed;
	overflow-y: auto; 
	height: calc(100% - 30px); 
	transform: translateX(-100%);
	transition: transform 0.2s ease;
}

#sidebar ul {
	font-size: 15px !important;
}

#sidebar .profile-image {
	width: 60%;
    height: 60%;
	overflow: hidden;
    margin-bottom: 3px !important;
}

#sidebar.active {
    transform: translateX(0);
}

#sidebar a:hover {
	color: #87dcf1e9;
	background-color: rgba(87, 87, 87, 0.397);
}

/* top navigation */
.nav-bar {
	top: 0;
	width: 100%;
	z-index: 1000;
	position: fixed;
	padding-top: 2px;
	padding-bottom: 2px;
	height: 38px;
}

.nav-bar a .logout-text {
	margin-top: -2px !important;
}

/* sub navigation */
.sub-navigation {
	padding: 3px;
    display: flex;
    justify-content: flex-start;
}

.sub-navigation > * {
    margin-right: 0px;
}

.sub-navigation span {
    margin-left: auto;
	margin-right: 3px !important;
}

.sub-navigation a:hover, .sub-navigation button:hover {
    color: #24d3ff;
    border: 1px solid #24d3ff;
}

.breadcrumb-panel {
	font-size: 18px;
}

.breadcrumb-panel .breadcrumb-link {
	border: none !important;
	color: rgb(96, 165, 250) !important;
}

.breadcrumb-panel .breadcrumb-link:hover {
	text-decoration: underline;
	color: rgb(147, 185, 231) !important;
}

.breadcrumb {
	font-size: 18px;
}

/* users-manager component */
.users-manager .delete-button {
	font-size: 15px;
	font-weight: 400;
	color: rgb(255, 70, 70);
}

.users-manager .delete-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .ban-button, .unban-button {
	font-size: 15px;
	font-weight: 400;
	color: rgb(255, 255, 31);
}

.users-manager .ban-button:hover, .unban-button:hover {
	color: rgb(71, 247, 71);
}

.users-manager .highlighter {
	color: rgb(255, 255, 7) !important;
}

.users-manager .profile-link:hover {
	color: rgb(255, 255, 7) !important;
}

.users-manager .role-update-button:hover {
	color: rgb(255, 255, 7) !important;
}

/* account-settings component */
.account-settings .profile-image {
	width: 60px;
	height: 60px;
}

.account-settings .image-preview {
	display: none;
	justify-content: center;
}

.account-settings .image-preview img {
	max-width: 100%;
	max-height: 200px;
}

.dashbard-component .card-text {
	font-size: 14px !important;
}

.dashbard-component .card-rederer {
	color: rgb(255, 255, 255) !important;
}

.dashbard-component .card-rederer:hover {
	text-decoration: underline;
	color: rgb(52, 116, 255) !important;
}

/* todo manager component */
.todo-manager {
	height: 100%;
	background-color: rgb(23 23 23);
}

.todo-manager .todo-list {
    overflow-y: auto;
	height: calc(100% - 5.1rem);
}

.todo-manager form {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.9rem;
    background-color: #1f2937;
    z-index: 50;
}

.todo-manager .add-todo-button {
	height: 2.80rem !important;
}

/* database browser component */
.database-browser .database-link {
	font-weight: bold;
	color: rgb(96, 165, 250);
}

.database-browser .database-link:hover {
	color: rgb(147, 185, 231);
}

.database-console {
	margin: 10px;
}

.add-row-input {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-y: auto; 
}

.form-input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.009) inset !important;
}

.form-input:-webkit-autofill:focus {
    border-color: rgb(24, 132, 255) !important;
}

.form-input:-moz-autofill {
    color: white !important;
    box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.009) inset !important;
}

/** terminal component */
.terminal-component {
	padding: 3px;
    position: relative;
    font-size: 16px !important;
    font-family: monospace !important;
    background-color: rgb(12, 12, 12);
}

.terminal-component #terminal {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    overflow-y: auto;
    padding-bottom: 5px;
    flex-direction: column;
}

.terminal-component #output-container {
    padding-top: 0px !important;
	line-height: 1.1;
    color: white;
	flex-grow: 1;
}

.terminal-component #command-container {
    bottom: 0;
    display: flex;
    position: sticky;
    align-items: center;
    padding-top: 0px !important;
    background-color: rgb(12, 12, 12);
}

.terminal-component .command-history-prompt {
	font-size: 16px;
	font-weight: 500;
	padding-top: 5.2px !important;
}

.terminal-component #prompt {
    display: inline-block;
}

.terminal-component #prompt-line {
	font-size: 16px;
	line-height: 1.1;
	color: #6262ff;
	white-space: nowrap;
	padding-top: -2px !important;
}

.terminal-component .last-command {
	margin-top: -2px !important;
    margin-left: 5px;
}

.terminal-component #command {
    width: 100%;
    color: white;
    margin-left: 5px;
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.metrics-component .chart-container {
	height: 300px;
	overflow: hidden;
}

.metrics-component .percentage {
	top: 48%;
	left: 50%; 
	transform: translateX(-50%);
}

/* apply on mobile devices */
@media screen and (max-width: 400px) { 
	main {
		margin-top: 30px; 
	}
	#main-content {
		height: calc(100vh - 30px);
	}
	#main-content.active {
		display: none;
	}
	.phone-none {
		display: none;
	}
	.phone-disable-border-top {
		border-top: none !important;
	}
	.disable-phone-border {
		border: none !important;
		border-radius: 0px !important;
	}
	.phone-mt-disable {
		margin-top: 0px !important;
		width: 100% !important;
	}
	.disable-select-on-phone {
		user-select: none;
	}
	.nav-bar {
		height: 30px;
	}
	.nav-bar a .menu-icon {
		font-size: 35px;
	}
	.nav-bar a .logout-icon {
		font-size: 22px;
		margin-top: -1.2px;
	}
	#sidebar {
		top: 29.5px;
		width: 100%;
        border-right: none;
	}
	#sidebar ul {
		font-size: 17px !important;
	}
	#sidebar ul li {
		margin-top: -1px !important;
		margin-bottom: -1px !important;
	}
	#sidebar ul li a span {
		margin-left: 8px;
	}
	#sidebar .profile-image {
		width: 30%;
		height: 30%;
	}
	.database-console {
		margin: 0px;
	}
	.add-row-input {
		width: 100%;
		flex-grow: 1;
		margin-top: 0;
		margin-bottom: 0;
		overflow-y: auto; 
	}
	.table-truncate-confirmation-phone {
		border-top: 0px !important;
		border-left: none !important;
		border-right: none !important;
		border-radius: 0px !important;
	}
}

/* fix component width on small devices */
@media screen and (max-width: 460px) { 
	.m-w-95 {
		max-width: 95%;
	}
	.phone-none-1 {
		display: none;
	}
}

/* apply only on non mobile devices */ 
@media screen and (min-width: 401px) {
	.phone-only {
		display: none;
	}
	.mini-disabled {
		display: none;
	}
}

/* apply only on too small devices */
@media screen and (max-width: 265px) { 
	.disable-on-small-devices {
		display: none;
	}
	::-webkit-scrollbar {
		display: none;
	}
}
