/* custom dark scrollbar */ 
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
} 

::-webkit-scrollbar-track {
	background: #252627 !important;
}
 
.card-component ::-webkit-scrollbar-track {
	background: #252627 !important;
}

::-webkit-scrollbar-corner {
    background: #252627 !important;
}

::-webkit-scrollbar-thumb {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #474c55;
	min-height: 40px;
} 

::-webkit-scrollbar-thumb:hover {
	background: rgb(99, 106, 112);
}

/* mobile devices style */
@media screen and (max-width: 800px) { 
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
    ::-webkit-scrollbar-thumb {
        min-height: 40px;
    } 
}
