{% extends 'common/layout.twig' %}

{# DIAGNOSTICS PAGE #}
{% block component %} 
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-700 sub-navigation breadcrumb">
    <a href={{ path('app_dashboard') }} class="border border-gray-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Diagnostics</span>
</div>

{# DIAGNOSTICS CARDS #}
<div class="flex-center mx-1 mt-2 component">
    {# HOST SYSTEM DIAGNOSTICS CARD #}
    <div class="shadow-lg text-white mb-3 border border-gray-600 card-color rounded">
        <div class="px-3 py-2 mb-2 border-b border-gray-600">System diagnostics</div>
        {# NOT-INSTALLED-REQUIREMENTS CHECK #}
        <div class="px-4 py-1">
            {% if diagnosticData.notInstalledRequirements is empty %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        All requirements is installed
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        Not found requirements: {{ diagnosticData.notInstalledRequirements|join(', ')|e }}
                    </span>
                </span>
            {% endif %}
        </div>
        {# DISK-SPACE CHECK #}
        <div class="px-4 py-1">
            {% if diagnosticData.driveSpace < 90 %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        Disk space
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        main disk storage is full, please delete some unnecessary data or increase disk space
                    </span>
                </span>
            {% endif %}
        </div>
        {# CPU-OVERLOAD CHECK #}
        <div class="px-4 py-1">
            {% if diagnosticData.cpuUsage > 98.00 %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        CPU is overloaded, please check cpu usage
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        CPU is at normal values
                    </span>
                </span>
            {% endif %}
        </div>
        {# RAM-OVERLOAD CHECK #}
        <div class="px-4 py-1">
            {% if diagnosticData.ramUsage > 98.00 %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        RAM Memory is overloaded, please check usage
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        RAM Memory is available
                    </span>
                </span>
            {% endif %}
        </div>
    </div>

    {# SELF WEB DIAGNOSTICS CARD #}
    <div class="shadow-lg text-white mb-3 border border-gray-600 card-color rounded">
        <div class="px-3 py-2 border-b border-gray-600">Website diagnostics</div>
        {# SSL-RUNNING CHECK #}
        <div class="px-4 py-2">
            {% if diagnosticData.isSSL %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        page is secured with https
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        session is running on http [non secure connction] please contact web admin for fix it
                    </span>
                </span>
            {% endif %}
        </div>
        {# DEV-MODE CHECK #}
        <div class="px-4 py-2">
            {% if diagnosticData.isDevMode %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        developer mode is enabled, please set APP_ENV=prod in .env config file
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-green-500">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        developer mode policy are OK
                    </span>
                </span>
            {% endif %}
        </div>
        {# WEBSERVER USER PERMISSIONS CHECK #}
        <div class="px-4 py-2">
            {% if diagnosticData.isWebUserSudo %}
                <span>
                    <span class="text-green-400">
                        <i class="fa fa-check"></i>
                    </span>
                    <span class="text-yellow-400">
                        site permissions is root
                    </span>
                </span>
            {% else %}
                <span>
                    <span class="text-red-400">
                        <i class="fa fa-exclamation-triangle"></i>
                    </span>
                    <span class="text-red-400">
                        Permissions error: please add "{{ diagnosticData.webUsername|e }} ALL=NOPASSWD: ALL" to /etc/sudoers
                    </span>
                </span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
