{% extends 'common/layout.twig' %}

{# DIAGNOSTICS PAGE #}
{% block component %} 
{# SUB-NAVIGATION #}
<div class="bg-neutral-900 border-b border-neutral-800 sub-navigation breadcrumb">
    <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">Diagnostics</span>
</div>

{# DIAGNOSTICS CARDS #}
<div class="flex-center component p-2">
    {# HOST SYSTEM DIAGNOSTICS CARD #}
    {% include "component/diagnostic/card/system-diagnostics.twig" %}

    {# SELF SUITE DIAGNOSTICS CARD #}
    {% include "component/diagnostic/card/self-suite-diagnostics.twig" %}

    {# SERVICES DIAGNOSTICS CARD #}
    {% include "component/diagnostic/card/services-diagnostics.twig" %}
</div>
{% endblock %}
