{% extends 'common/layout.twig' %}

{# SYSTEM AUDIT COMPONENT VIEW #}
{% block component %} 
{# SUB-NAVIGATION #}
<div class="border-b border-neutral-800 sub-navigation breadcrumb">
    {# BACK BUTTON #}
    <a href={{ path('app_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 text-white" title="Back to dashboard">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    {# LINK TO METRICS DASHBOARD #}
    <a href={{ path('app_metrics_dashboard') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Go to metrics dashboard">
        <i class="fa fa-chart-line" aria-hidden="true"></i>
    </a>
    {# LINK TO DIAGNOSTICS #}
    <a href={{ path('app_diagnostic') }} class="border border-neutral-600 font-bold px-1 py-0 rounded mr-2 ml-1 text-white" title="Go to diagnostics">
        <i class="fas fa-check" aria-hidden="true"></i>
    </a>
    <span class="mr-1 text-white">System Audit</span>
</div>

{# SYSTEM INFO CONTENT #}
<div class="w-full dashbard-component component">
    {# SYSTEM INFO CARDS (INCLUDED FROM DASHBOARD) #}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2">
        {% include "component/dashboard/card/system-info-card.twig" %}
        {% include "component/dashboard/card/process-list-card.twig" %}
        {% include "component/system-audit/card/ufw-open-ports-card.twig" %}
        {% include "component/system-audit/card/linux-users-list-card.twig" %}
    </div>

    {# SSH ACCESS HISTORY CARD #}
    {% include 'component/system-audit/card/ssh-access-history.twig' %}

    {# SYSTEM JOURNALCTL LOGS CARD #}
    {% include 'component/system-audit/card/system-journalctl-log-card.twig' %}

    {# SYSTEM LOGS CARD #}
    {% include 'component/system-audit/card/system-logs-card.twig' %}

    {# SYSTEM DIAGNOSTICS CARD #}
    <div class="p-2 mt-[-8px]">
        {% include "component/diagnostic/card/system-diagnostics.twig" %}
    </div>
</div>
{% endblock %}
