<div class="backdrop-blur-md bg-neutral-400/5 border border-white/20 rounded shadow-xl text-white w-full overflow-hidden">
    <div class="px-3 py-3 border-b border-white/10 font-semibold tracking-wide text-sm uppercase text-white/80 flex items-center gap-2">
        <i class="fas fa-heartbeat text-white/70"></i>
        Services diagnostics
    </div>
	{# CHECK SERVICES EXCEPTION FILES #}
	<div class="px-3 mb-1 mt-1">
		{% if diagnosticData.exceptionFilesList == null %}
			<span>
				<span class="text-green-400">
					<i class="fa fa-check"></i>
				</span>
				<span class="text-yellow-400 ml-1">
					No exception files found
				</span>
			</span>
		{% else %}
			<span>
				<span class="text-red-400">
					<i class="fa fa-exclamation-triangle"></i>
				</span>
				<span class="text-red-400 ml-[1.8px]">
					Exception files found:
					{{ diagnosticData.exceptionFilesList|length }}
				</span>
			</span>
		{% endif %}
	</div>
</div>
