{% extends 'common/base.html.twig' %}

{# MAIN ADMIN COMPONENT LAYOUT #}
{% block body %}
    {# NAVBAR #}
    {% include 'components/navigation.html.twig' %}

    {# SIDEBAR #}
    {% include "components/side-menu.html.twig" %}
    
    {# MAIN COMPONENT INIT #}
    <main id="main-content" class="md:active">
        {% block component %}{% endblock %}
    </main>

    {# SIDEBAR TOGGLE SCRIPT #}
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            sidebar.classList.toggle('active');
            mainContent.classList.toggle('active');
        });
    </script>

    {% if app.request.attributes.get('_route') == 'app_dashboard' %}
        <script>
            const sidebar = document.getElementById('sidebar');
            const mainContent = document.getElementById('main-content');
            if (window.innerWidth > 400) {
                sidebar.classList.add('active');
                mainContent.classList.add('active');
            }
        </script>
    {% endif %}
{% endblock %}
 