{% extends 'common/layout.twig' %}

{# USER NO PERMISSIONS COMPONENT #}
{% block component %} 
    <p class="flex items-center justify-center mt-20 mb-20 text-2xl font-bold">Sorry you dont have permission to access this component</p>
{% endblock %}
