{% extends 'common/layout.twig' %}

{# MAIN ADMIN-SUITE DASHBOARD #}
{% block component %} 
<div class="w-full dashbard-component">

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 p-2">

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full sm:col-span-2">
            <h2 class="text-xl font-semibold mb-2">Card Title 0</h2>
            <p class="text-white mb-2">This is a sample description for the first card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 1</h2>
            <p class="text-white mb-2">This is a sample description for the first card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 2</h2>
            <p class="text-white mb-2">This is a sample description for the second card. It can contain any text or information.</p>
        </div>

    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 p-0 p-2 mt-0">

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 3</h2>
            <p class="text-white mb-2">This is a sample description for the third card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 4</h2>
            <p class="text-white mb-2">This is a sample description for the fourth card. It can contain any text or information.</p>
        </div>

        <div class="bg-neutral-900 p-6 border border-neutral-500 shadow-md card-color w-full">
            <h2 class="text-xl font-semibold mb-2">Card Title 5</h2>
            <p class="text-white mb-2">This is a sample description for the fifth card. It can contain any text or information.</p>
        </div>

    </div>
</div>
{% endblock %}
