{% extends 'common/base.html.twig' %}

{# admin dashboard (main app component) #}
{% block component %} 
    <h1 class="text-green-500">welcome: {{ user_data.username }} | {{ user_data.role }}</h1>
    <a href="/logout">logout here</a>
{% endblock %}
