<nav class="nav-bar p-1 flex justify-between items-center border-b border-gray-600">
    {# TOGGLE SIDEBAR BUTTON #}
    <button id="menu-toggle" class="text-white text-2xl ml-1 hover:text-cyan-300">
        <i class="fas fa-bars"></i>
    </button>
    {# LOGOUT BUTTON #}
    <div class="flex items-center">
        <a href="/logout" class="text-white mr-2 text-2xl hover:text-cyan-300">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</nav>
