{# CREATE NEW TODO FORM #} 
{{ form_start(createTodoForm) }}
    <div class="bg-neutral-900 flex-none">
        {# FORM CONSTRAINTS ERROR #}
        {% if createTodoForm.todo_text.vars.errors|length > 0 %}
            <div class="text-red-500 text-l">
                {{ form_errors(createTodoForm.todo_text) }}
            </div>
        {% endif %}

        <div class="flex flex-col phn:flex-row">
            {# TODO TEXT INPUT #}
            {{ form_widget(createTodoForm.todo_text, {'attr': {'class': 'border-b border-gray-600 flex-1 bg-neutral-800 px-2 py-1 text-white', 'placeholder': 'Todo text'}}) }}

            {# ADD TODO BUTTON #}
            <button class="border border-gray-600 bg-green-700 hover:bg-green-600 text-white px-4 py-2 mt-2 phn:mt-0 focus:outline-none">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
{{ form_end(createTodoForm) }}
