{# CREATE NEW TODO FORM #} 
{{ form_start(createTodoForm) }}
    <div class="bg-neutral-910 flex-none">
        {# FORM CONSTRAINTS ERROR #}
        {% if createTodoForm.todo_text.vars.errors|length > 0 %}
            <div class="text-red-500 text-l">
                {{ form_errors(createTodoForm.todo_text) }}
            </div>
        {% endif %}

        <div class="bg-neutral-890 flex-none p-1 py-1 border-b border-neutral-700">
            <div class="flex items-center space-x-1">
                {# TODO TEXT INPUT #}
                {{ form_widget(createTodoForm.todo_text, {'attr': {'class': 'border border-neutral-600 rounded flex-1 bg-neutral-890 px-4 py-2 text-white outline-none', 'placeholder': 'Enter new todo...'}}) }}
                
                {# ADD TODO BUTTON #}
                <button class="border border-neutral-600 bg-green-700 hover:bg-green-600 text-white rounded px-4 py-2 mt-0 focus:outline-none flex items-center add-todo-button">
                    <i class="fa fa-plus text-xl" aria-hidden="true"></i>
                    <span class="hidden sm:inline ml-2">Add Todo</span>
                </button>
            </div>
        </div>
{{ form_end(createTodoForm) }}
