<div class="card-color custom-scrollbar border border-neutral-800 shadow-md rounded overflow-hidden w-full max-h-50">
	<div class="px-3 py-2 border-b border-neutral-800 text-white font-bold text-sm flex items-center justify-between">
		Linux system users
	</div>
	<div class="overflow-y-scroll max-h-72">
		<table class="min-w-full divide-y divide-neutral-800 bg-neutral-885 text-white">
			<thead class="bg-neutral-900">
				<tr>
					<th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider sticky top-0 bg-neutral-885 z-10">
						Username
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider sticky top-0 bg-neutral-885 z-10">
						Home
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider sticky top-0 bg-neutral-885 z-10">
						Shell
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-bold uppercase tracking-wider sticky top-0 bg-neutral-885 z-10">
						Sudo permissions
					</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-neutral-800 bg-neutral-880">
				{% for user in linuxUsers %}
					<tr class="hover:bg-neutral-800">
						<td class="px-4 py-2 whitespace-nowrap text-sm font-bold">{{ user.username|e }}</td>
						<td class="px-4 py-2 whitespace-nowrap text-sm">{{ user.home|e }}</td>
						<td class="px-4 py-2 whitespace-nowrap text-sm">{{ user.shell|e }}</td>
                        {% if user.has_sudo == true %}
                            <td class="px-4 py-2 whitespace-nowrap text-sm text-green-500">Yes</td>
                        {% else %}
                            <td class="px-4 py-2 whitespace-nowrap text-sm text-red-500">No</td>
                        {% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
