<div class="p-2 mt-[-8px]">
    <div class="backdrop-blur-md bg-neutral-400/5 border border-white/10 rounded shadow-xl text-white w-full overflow-hidden">
        <div class="px-3 py-2 border-b border-white/10 font-semibold tracking-wide text-sm uppercase text-white/80 flex items-center justify-between">
            <span><i class="fas fa-file-alt text-white/70 mr-2"></i> System logs</span>
        </div>
        <div class="overflow-y-auto max-h-[320px] custom-scrollbar p-2">
            <ul class="space-y-1 text-sm">
                {% for logFile in logFiles %}
                    <li>
                        <a href={{ path('app_file_system_view', { path: logFile.path, referer: 'app_system_audit' }) }} class="block px-2 py-2 bg-neutral-800 hover:bg-blue-700 rounded transition-colors duration-150 break-words text-white/90">
                            {{ logFile.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
